<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
					<key>Arch</key>
					<string>Any</string>
					<key>Base</key>
					<string>_cpu_thread_alloc</string>
					<key>Comment</key>
					<string>force HT enabled for Sequoia or later</string>
					<key>Count</key>
					<integer>1</integer>
					<key>Enabled</key>
					<true/>
					<key>Find</key>
					<data>QYuGlAEAAA==</data>
					<key>Identifier</key>
					<string>kernel</string>
					<key>Limit</key>
					<integer>0</integer>
					<key>Mask</key>
					<data></data>
					<key>MaxKernel</key>
					<string></string>
					<key>MinKernel</key>
					<string>24.0.0</string>
					<key>Replace</key>
					<data>uP8AAACQkA==</data>
					<key>ReplaceMask</key>
					<data></data>
					<key>Skip</key>
					<integer>1</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>Base</key>
				<string>_cpu_thread_alloc</string>
				<key>Comment</key>
				<string>force HT enabled for Mojave to Sonoma</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>i4iUAQAA</data>
				<key>Identifier</key>
				<string>kernel</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>MaxKernel</key>
				<string>23.99.99</string>
				<key>MinKernel</key>
				<string>18.0.0</string>
				<key>Replace</key>
				<data>uf8AAACQ</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>Any</string>
				<key>Base</key>
				<string>_cpu_thread_alloc</string>
				<key>Comment</key>
				<string>force HT enabled for High Sierra or earlier (untested)</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>i4iQAQAA</data>
				<key>Identifier</key>
				<string>kernel</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>MaxKernel</key>
				<string>17.99.99</string>
				<key>MinKernel</key>
				<string>15.0.0</string>
				<key>Replace</key>
				<data>uQAAAACQ</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
